<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>VerduleriaFenix - Frutas y verduras</title>


    <link rel="stylesheet" href="../../static/css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header class="name" id="inicio">
        <section class="img">
            <img src="../../static/src/png-transparent-computer-icons-user-interface-truck-truck-logo-delivery-truck.png" alt="">
        </section>

        <section class="content">
            <h1 class="h_1">Envios sin cargo si su compra supera los $5000</h1>
        </section>
    </header>

   

    <header class="logoo" id="segundo">

        <section class="logo">

            <h1 class="Dtext"> Bienvenidos a Verduleria Fenix </h1>

            <a href class=Bped> EMPEZAR A COMPRAR </a>

            <img src="../../static/src/Logo_Verdu.png" alt="">

        </section>


    </header>

    <section class="menu">
        <img src="../../static/src/hamburguesa.svg" alt="" class="hamburguer">
        <nav class="menu-navegacion">
            <a href="#inicio">Inicio</a>
            <a href="#verduras">Verduras</a>
            <a href="#frutas">Frutas</a>
            <a href="#varios">Varios</a>
        </nav>
    </section>

    <main>
        
        

    </main>

    <footer id="contacto">
        <div class="contenedor footer-content">
            
        </div>
        <div class="line"></div>
    </footer>

    <script src="../../static/js/menu.js"></script>
</body>

</html>