<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>VerduleriaFenix - Frutas y verduras</title>


    <link rel="stylesheet" href="../../static/css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <header class="BDNav" id="tercero">
        <div class="Barra">
            <div class="B1">
                <a href> Inicio </a>
            </div>

            <div class="B1">
                <a href> Carrito</a>
            </div>

            <div class="B1">
                <a href> Recetas </a>
            </div>

            <div class="B1">
                <a href> Contacto </a>
            </div>

            <div class="B1">
                <a href> Como Comprar </a>
            </div>

            <div class="B2">
                <input type="search" placeholder="Buscar Producto">
            </div>
        </div>
    </header>

    <header class="logoo" id="segundo">

        <section class="logo">

            <h1 class="Dtext"> Bienvenidos a Verduleria Fenix </h1>

            <a href class=Bped> EMPEZAR A COMPRAR </a>

            <img src="../../static/src/Logo_Verdu.png" alt="">

        </section>

    </header>

    <main>
        
        <div class="TablaP">
            
        </div>

    </main>

    <footer id="contacto">
        <div class="contenedor footer-content">
            
        </div>
        <div class="line"></div>
    </footer>

</body>

</html>